/* =================================== */
/*  4.Portfolio
/* =================================== */

.nav-link {
  color: $secondary-color;
}

.nav-link:hover {
  color: $primary-color-hover;
}
.active {
  color: $primary-color;
}
