/* =================================== */
/*  5.Header
/* =================================== */

.header-container {
  padding-top: 50px;
  gap: 10px;
}

.current-section {
  text-decoration: underline;
}

.project-container {
  width: 300px; /* ou toute autre largeur */
  height: 200px; /* ou toute autre hauteur */
}
