/* =================================== */
/*  1.Reset
/* =================================== */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  padding: 0;
  list-style: none;
}

/* Set core root font size */
html {
  font-size: 62.5%;
}

/* Remove default padding */
figure {
  margin: 0;
}

/* Set default sans-serif font family */
body {
  font-family: sans-serif;
}

/* Remove default button style */
button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  outline: none;
}

/* Remove default input style */
input {
  border: none;
  padding: 0;
  outline: none;
}

/* Remove default textarea style */
textarea {
  border: none;
  padding: 0;
  outline: none;
  resize: none;
}
