/* =================================== */
/*  4.Header
/* =================================== */

header {
  padding-top: 50px;
  padding-bottom: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; /* Largeur du header */
  height: 100%; /* Hauteur du header */
  overflow: hidden; /* Empêche le défilement dans le header */
  z-index: 1000; /* Assure que le header soit au-dessus du reste du contenu */
}
